:root {
    --BLACK_PEARL: #0c1822;
    --CINDER_BLACK: #081017;
    --DARK_JUNGLE: #1d1d1d;
    --HEAVY_METAL: #2c2c2c;
    --CURIOS_BLUE: #299ad0;
    --TURMERIC_YELLOW: #d0b747;
    --AQUA_GREEN: #05d993;
    --DEBIAN_RED: #d70e48;
    --STRAWBERRY_MAGENTA: #FF499E;
    --EMINENCE_PURPLE: #6E2594;
}